certifi==2023.7.22
charset-normalizer==2.0.12
distlib==0.3.4
docopt==0.6.2
filelock==3.6.0
idna==3.3
platformdirs==2.5.2
requests==2.28.2
six==1.16.0
urllib3==1.26.14
yarg==0.1.9
py-cord==2.1.1
Pillow==9.4.0
schedule==1.1.0
python-decouple==3.6
numpy==1.24.2
py-cpuinfo==8.0.0
psutil==5.9.1
discord-webhook
pytz
bs4
websockets
orjson
